button{
    border: none;
    border-radius: 1.5rem;
    border: 2px solid #fff;
    padding: 0.5rem;
    cursor: pointer;
    color: whitesmoke;
}

input{
    border: none;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.5rem;
    /* margin-left: 20rem; */
}

.delete{
    border: none;
    border-radius: 1.5rem;
    border: 1px solid #fff;
    padding: 0.25rem;
    cursor: pointer;
    background-color: #C8F4F9;
    margin-right: 2rem;
    color: #1592B4;
}

li{
    margin-bottom: 0.5rem;
    border: 2px solid #EEEDE7;
    border-radius: 0.5rem;
    background-color: #1592B4;
    color: white;
    margin-left: 5rem;
    margin-right: 5rem;
     padding-left: 1rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    background-color: #1592B4;
}

*{
    background-color: #C8F4F9;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-left: 0.5rem;
}

button {
    background-color: #1592B4;
}

h1{
    color: #1592B4;
    text-align: center;
    font-size: 3rem;
}

.strike {
    background-color: 	#EAF8FB;
}
