body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 2rem;
    margin: 2rem;
}

h1{
    font-weight: 700;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.blue{
    background-color: 		#2CA9BC;
}

.pink{
    background-color:		#E06C9F;
}

.yellow{
    background-color: 		#F4C430;
}

.orange{
    background-color: 		#F47C2C;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: black;
}

.highest {
    position: absolute;
    border: 2px solid black;
    height: 4rem;
    width: 15rem;
    border-radius: 2rem;
    background-color: #BBE7FE;
}

body{
    font-family: 'Akaya Telivigala', cursive;
    background-color: #E7F2F8;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.wrong{
    background-color: red;
}